---
//Just in case I want to increase it later
const links = [
  {
    title: "Sheet",
    href: "/dnd/",
  },
  {
    title: "Create",
    href: "/dnd/create",
  },
];

---

<header class="shadow">
  <div>
    <div class="main-header flex-row items-center font-mono max-w-6xl mx-auto justify-between hidden sm:flex">
      <div class="flex flex-row items-center ml-4">
        <p class="p-4 pl-0 text-2xl">SHEETS</p>
        <span class="text-xl">.</span>
        {
          links.map((link) => (
            <a
              class="p-2 mt-1 text-lg hover:bg-orange-700 hover:text-white hover:rounded-md"
              href={link.href}
            >
              {link.title}
            </a>
          ))
        }
      </div>
      <save-sheet class="text-lg flex flex-row w-24 justify-between mr-8">
          <!-- TODO: Make these icons -->
          <button id="save" class="w-4 p-2 mt-1 flex items-center hover:text-orange-700"><i class="material-icons">save</i></button>
          <button id="download" class="w-4 p-2 mt-1 flex items-center hover:text-orange-700"><i class="material-icons">cloud_download</i></button>
          <button id="upload" class="w-4 p-2 mt-1 flex items-center hover:text-orange-700"><i class="material-icons">backup</i></button>
      </save-sheet>
    </div>
    <div class="burger-menu flex flex-row sm:hidden items-center font-mono justify-between">
      <p class="p-2 text-lg">SHEETS</p>
      <div><button class="m-2 text-md hover:bg-slate-300 w-8 flex justify-center burger-menu-button"><i class="material-icons">menu</i></button></div>
    </div>
  </div>
  <div id="burger-menu" class="w-full h-screen fixed bg-white hidden flex-col sm:hidden">
    <save-sheet class="text-lg flex flex-col w-full justify-center items-center">
      <!-- TODO: Make these icons -->
      <button id="save" class="w-full p-2 mt-1 flex items-center justify-between hover:text-orange-700 hover:bg-slate-200">
        <i class="material-icons ml-10">save</i>
        <span class="mr-10">SAVE</span>
      </button>
      <button id="download" class="w-full p-2 mt-1 flex items-center justify-between hover:text-orange-700 hover:bg-slate-200">
        <i class="material-icons  ml-10">cloud_download</i>
        <span class="mr-10">DOWNLOAD</span>
      </button>
      <button id="upload" class="w-full p-2 mt-1 flex items-center justify-between hover:text-orange-700 hover:bg-slate-200">
        <i class="material-icons  ml-10">backup</i>
        <span class="mr-10">UPLOAD</span>
      </button>
    </save-sheet>
  </div>
</header>

<script>

    const burgerButtons = document.querySelectorAll(".burger-menu-button");
    const burgerMenu = document.querySelector("#burger-menu")

    burgerButtons.forEach(button => {
      button.addEventListener("click", () => {
        burgerMenu?.classList.toggle("hidden")
        burgerMenu?.classList.toggle("flex")
      })
    })

    class SaveSheet extends HTMLElement {
        constructor() {
            super();

            const buttons = this.querySelectorAll("button") ?? [];
            buttons.forEach(button => {
              button.addEventListener("click", async () => {
                if(button.id === "download") {
                  const result = await fetch("/dnd/load")
                  const data = await result.json();
                  console.log(data);
                  if(data.error){
                    alert("Something went wrong: " + data.error);
                  }
                }else{
                  alert(`Maybe we can ${button.id} something!`)
                }
              })
            })
        }
    }
    
    customElements.define("save-sheet", SaveSheet);
</script>
