---
//Just in case I want to increase it later
const links = [
  {
    title: "Sheet",
    href: "/dnd/",
  },
  {
    title: "Create",
    href: "/dnd/create",
  },
];
---

<header class="shadow">
  <div class="flex flex-row items-center font-mono max-w-6xl mx-auto justify-between">
    <div class="flex flex-row items-center">
      <p class="p-4 pl-0 text-2xl">SHEETS</p>
      <span class="text-xl">.</span>
      {
        links.map((link) => (
          <a
            class="p-2 mt-1 text-lg hover:bg-orange-700 hover:text-white hover:rounded-md"
            href={link.href}
          >
            {link.title}
          </a>
        ))
      }
    </div>
    <save-sheet class="text-lg">
        <!-- TODO: Make these icons -->
        <button id="save" class="p-2 mt-1">Save</button>
        <button id="download" class="p-2 mt-1">Download</button>
        <button id="upload" class="p-2 mt-1">Upload</button>
    </save-sheet>
  </div>
</header>

<script>

    class SaveSheet extends HTMLElement {
        constructor() {
            super();

            const buttons = this.querySelectorAll("button") ?? [];
            buttons.forEach(button => {
              button.addEventListener("click", async () => {
                if(button.id === "download") {
                  const result = await fetch("/dnd/load")
                  const data = await result.json();
                  console.log(data);
                  if(data.error){
                    alert("Something went wrong: " + data.error);
                  }
                }else{
                  alert(`Maybe we can ${button.id} something!`)
                }
              })
            })
        }
    }
    
    customElements.define("save-sheet", SaveSheet);
</script>
